<div class="form-horizontal">
  <h4>Claim</h4>
  <hr />

  <div class="form-group">
    <label >Claim ID:</label>
    <label>{{vm.thisClaim.ClaimID}}</label>
  </div>

  <div class="form-group">
    <label>Customer ID:</label>
    <label>{{vm.thisClaim.CustomerID}}</label>
  </div>

  <div class="form-group">
    <label>Incident Date:</label>
    <input type="text" data-ng-model="vm.thisClaim.IncidentDate | date : 'MM/dd/yyyy'" />
  </div>

  <div class="form-group">
    <label>Report Date Time:</label>
    <input type="datetime" data-ng-model="vm.thisClaim.ReportDateTimeUtc | date : 'medium'"/>
  </div>

  <div class="form-group">
    <label>Location:</label>
    <input type="text" data-ng-model="vm.thisClaim.Location"/>
  </div>

  <div class="form-group">
    <label>Status:</label>
    <select data-ng-model="vm.thisClaim.StatusID">
      <option value="1">Opened</option>
      <option value="2">Initial Review</option>
      <option value="3">Fact Finding</option>
      <option value="4">Setting Claim Value</option>
      <option value="5">Resolved</option>
    </select> 
  </div>

  <a id="here"></a>
  <a data-ng-href="#here" class="btn" data-ng-click="vm.save()">Save</a>
  <a href="#/" class="btn">Back to claims</a>

</div>